<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, inital-scale = 1.0">
        <title>member-dashboard</title>
        <link rel="stylesheet" href="css/dashboard.css">
    </head>
    <body>
        <h1 id="welcome-text">Welcome <%= admin.first_name %></h1>
        <hr>
        <h2>Equipment</h2>
        <table id="Equipment-table" border="1" style = "width: 50%; table-layout: fixed; word-wrap: break-word;">
            <thead>
                <tr>
                    <th>Equipment ID</th>
                    <th>Equipment</th>
                    <th>Condition(%)</th>
                </tr>
            </thead>
            <tbody>
                <% equipments.forEach(function(equipment) { %>
                    <tr>
                        <td><%= equipment.equipment_id %> </td>
                        <td><%= equipment.equipment_name %></td>
                        <td ><%= equipment.equipment_condition %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        
        <div class="center-text"> 
            <p><u>Send equipment to maintenance</u></p>  
            
            <% if (messages.equipmentError) { %>
                <li><%= messages.equipmentError %></li> 
            <% } %>   
            <br>
            <label for="select-equipment">Select Equipment:</label>
            <input type="number" id="select-equipment" min="1" max="<%= equipments.length %>" placeholder="Select Equipment(row)">
            <label for="starting-date">Select Starting Date:</label>
            <input type="date" id="starting-date">
            <label for="ending-date">Select Ending Date:</label>
            <input type="date" id="ending-date">
            <br><br>
            <button id="send-to-maintenance">Send Equipment to Maintenance</button>
        </div>
        <br>

        <form id="call-maintenance" action="/admin" method="POST"  autocomplete="off">
            <input  type = "hidden" name ="id" value="call-maintenance">
            <input type = "hidden" id = "callMaintenance-equipmentID" name ="equipment_id">
            <input type = "hidden" id = "callMaintenance-startingDate" name = "starting_date">
            <input type = "hidden" id = "callMaintenance-endingDate" name = "ending_date">
            <input type = "hidden" id = "admin-id" name = "admin_id" value = <%= admin.admin_id %>>
        </form>
        
        <script>
            const callMaintenanceButton = document.getElementById("send-to-maintenance");

            callMaintenanceButton.addEventListener('click', function() {
                const rowNumberInput = document.getElementById("select-equipment").value;
                const table = document.getElementById('Equipment-table').rows
                const starting_date = document.getElementById('starting-date').value
                const ending_date = document.getElementById('ending-date').value

                if (rowNumberInput && !isNaN(rowNumberInput) && rowNumberInput > 0 && rowNumberInput <= table.length && starting_date && ending_date ) {
                    document.getElementById('callMaintenance-equipmentID').value = table[rowNumberInput].cells[0].innerHTML;
                    document.getElementById('callMaintenance-startingDate').value = starting_date
                    document.getElementById('callMaintenance-endingDate').value = ending_date

                    document.getElementById('call-maintenance').submit();
                }
            });
        </script>

        <h2>Equipment under maintenance</h2>
        <table id="Equipment-Maintenance" border="1" style = "width: 50%; table-layout: fixed; word-wrap: break-word;">
            <thead>
                <tr>
                    <th>Equipment ID</th>
                    <th>Starting Date of Maintenance</th>
                    <th>Ending Date of Maintenance</th>
                    <th>Request by Admin: </th>
                </tr>
            </thead>
            <tbody>
                <% callMaintenance.forEach(function(equipment) { %>
                    <tr>
                        <td><%= equipment.equipment_id %> </td>
                        <td><%= equipment.starting_date %></td>
                        <td ><%= equipment.ending_date %></td>
                        <td ><%= equipment.admin_id %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        <hr>
        <h2>Rooms</h2>

        <table id="Rooms" border="1" style = "width: 50%; table-layout: fixed; word-wrap: break-word;">
            <thead>
                <tr>
                    <th>Room ID</th>
                    <th>Room Name</th>
                </tr>
            </thead>
            <tbody>
                <% rooms.forEach(function(room) { %>
                    <tr>
                        <td><%= room.room_id %> </td>
                        <td><%= room.room_name %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <hr>
        <h2>Sessions</h2>

        <table id="Sessions" border="1" style = "width: 50%; table-layout: fixed; word-wrap: break-word;">
            <thead>
                <tr>
                    <th>Row</th>
                    <th>Member ID</th>
                    <th>Trainer ID</th>
                    <th>Room ID</th>
                    <th>Day</th>
                    <th>Starting Time</th>
                    <th>Ending Time</th>
                </tr>
            </thead>
            <tbody>
                <% bookedSessions.forEach(function(session, index) { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= session.member_id %></td>
                        <td><%= session.trainer_id %></td>
                        <td><%= session.room_id%></td>
                        <td><%= session.day %></td>
                        <td ><%= session.starting_time %></td>
                        <td><%= session.ending_time %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <br>
        <div class="center-text">
            <% if (messages.sessionError) { %>
                <li><%= messages.sessionError %></li> 
            <% } %>   

            <form id="update-session" action="/admin" method="POST"  autocomplete="off">
                <input type = "hidden" name ="id" value="update-session">
                <label for="select-session">Select session to edit:</label>
                <input type="number" id="select-session" min="1" name = "edited_row" max="<%= bookedSessions.length %>" placeholder="Select Session(row)" required>
                <label for="room-select">Select a Room:</label>
                <select id="room-select" name = "room_id" required>
                    <% rooms.forEach(function(room) { %>
                        <option value="<%= room.room_id %>"><%= room.room_name %></option>
                    <% }); %>
                </select>            
                <input id = "admin-id" type="hidden" name="admin_id" value= <%= admin.admin_id %>>
                <label for="choose-day">Day:</label>
                <select id="choose-day" name = "day" required>
                    <option value = "Sunday">Sunday</option>
                    <option value = "Monday">Monday</option>
                    <option value = "Tuesday">Tuesday</option>
                    <option value = "Wednesday">Wednesday</option>
                    <option value = "Thursday">Thursday</option>
                    <option value = "Friday">Friday</option>
                    <option value = "Saturday">Saturday</option>
                </select>
                <label for="choose-starting-time">Starting:</label>
                <input type="text" id="choose-starting-time" name="starting_time" pattern="(0[7-9]|[1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]" placeholder="HH:MM:SS" required>
                <label for="choose-ending-time">Ending:</label>
                <input type="text" id="choose-ending-time" name = "ending_time" pattern="(0[7-9]|[1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]" placeholder="HH:MM:SS" required>
                <br><br>
                <button type="submit">Save changes</button>
            </form>
            <br>
            
            <form id="remove-session" action="/admin" method="POST"  autocomplete="off">
                <input type = "hidden" name ="id" value="remove-session">
                <input type = "hidden" id = "copy" name ="edited_row">
                <button type="submit">Remove Row</button>
            </form>

            <script>
                const copy = document.getElementById('copy');
                const userChosenSession = document.getElementById('select-session');

                function updateCopyValue() {
                    copy.value = userChosenSession.value;
                }

                updateCopyValue();
                userChosenSession.addEventListener('change', updateCopyValue);
            </script>

        </div>
        <hr>
        <h2>Bills</h2>
        <table id="bill-table" border="1" style = "width: 50%; table-layout: fixed; word-wrap: break-word;">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Billed</th>
                    <th>Amount</th>
                    <th>Transaction Date</th>
                    <th>Paid</th>
                </tr>
            </thead>
            <tbody>
                <% bills.forEach(function(bill) { %>
                    <tr>
                        <td><%= bill.transaction_id %></td>
                        <td><%= bill.member_id %></td>
                        <td><%= bill.amount %></td>
                        <td><%= bill.transaction_date %></td>
                        <td><%= bill.isPaid %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        
        <br><br><br><br>
    </body>
</html>